{% extends "base.html" %}

{% block content %}

<h2>Signup</h2>

<form method="post">
    <label>
        <div>Username</div>
        <input type="text" name="username" value="{{ username }}">
    </label>
    <div class="error"> {{ username_error }} </div>
    <label>
        <div>Password</div>
        <input type="password" name="password" value="{{ password }}">
    </label>
    <div class="error"> {{ password_error }} </div>
    <label>
        <div>Verify Password</div>
        <input type="password" name="verify" value="{{ verify_password }}">
    </label>
    <div class="error"> {{ verify_password_error }} </div>
    <label>
        <div>Email (optional)</div>
        <input type="text" name="email" value="{{ email }}">
    </label>
    <div class="error"> {{ email_error }} </div>
    <input type="submit" value="Signup">
</form>
{% endblock %}
